<tr class="<%= s.state %>">
  <td>
    <%= session_time_tags s %>
  </td>
  <td>
    <% if s.bookable? %>
      <%= link_to "Book Session", new_session_booking_path(s), class: "button" %>
    <% else %>
      <span class="button disabled">Booked</span>
    <% end %>
  </td>
</tr>
