.about,
.intro .container {
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  max-width: 46em;

  padding: 0 24px;

  @media (min-width: 768px) {
    p {
      font-size: 1.25em;
      line-height: 1.5em;
    }
  }
}

.gravatar {
  display: block;

  height: auto;
  width: 96px;

  border-radius: 50%;
}

.intro {
  span { color: white; }

  @media (min-width: 768px) {
    h1 {
      font-size: 2.75em;
      line-height: 1.25em;
    }
  }
}

.social {
  overflow: hidden;

  margin: 12px 0 -12px 0;
  padding: 0;

  list-style: none;

  li {
    display: inline-block;
    margin: 12px;
  }

  a.icon {
    font-size: 0;
    border-bottom: 0;
  }

  a.icon:before { font-size: 16px; }
}

.person-details {
  padding: 0 12px 0;
  vertical-align: top;

  table { margin: 0; }
  tr { border-bottom: 0; }
}

.person-sessions {
  padding: 0 0 0 12px;

  table { margin: 0; }
  tr:last-of-type { border-bottom: 0; }
}

.negotiate-time {
  text-align: center;

  select, .button {
    display: inline-block;
    margin: 0 10px;
  }

  select {
    width: auto;
    padding-right: 40px;
    border: 3px solid #f2f2f2;
    background: #F2F2F2;
    background-image: asset-url('down-arrow.png');
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
  }

  .button {
    width: 200px;
  }

  .negotiate-time-fields {
    text-align: center;
  }

  @media (max-width: 689px) {
    .select-skills {
      display: none;
    }
  }
}

@media (max-width: 958px) {
  #negotiate-button {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  td { display: block; }

  td:last-of-type { margin-bottom: 24px; }
  tr:last-of-type td:last-of-type { margin-bottom: 0; }

  th { display: none; }

  .button {
    margin: 24px auto;
    max-width: 8em;
  }

  .gravatar { margin: 0 auto 24px auto; }

  .booked { margin-top: 24px; }
}

@media (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { margin: 48px 0; }

  table { text-align: left; }

  td, th { padding: 12px; }
  td:first-of-type, th:first-of-type { padding-left: 0; }
  td:last-of-type, th:last-of-type { padding-right: 0; }

  tr { border-bottom: 1px solid #dddddd; }
  thead tr { border-top: 1px solid #dddddd; }

  .gravatar { width: 64px; }
  .person-avatar { width: 64px; }

  .person-sessions .button {
    float: right;
    box-sizing: border-box;
    width: 160px;
  }
}
