<table class="table sessions">
  <thead>
    <tr>
      <th>Person</th>
      <th>Date</th>
      <th>Time</th>
      <th>Skills</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sessions.each do |s| %>
      <%= render_session_row(s: s) %>
    <% end %>
  </tbody>
</table>
