.button {
  @include appearance(none);

  margin: 0;
  padding: 0;
  border: 0;
  background: none;

  display: block;
  position: relative;

  padding: 0.8125em 1.25em;
  padding-right: 2.5em;

  -webkit-font-smoothing: antialiased;
  font-family: 'Colfax', sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;

  background: transparentize(black, 0.95);
  color: black;

  @include transition(background 0.1s linear, color 0.1s linear);

  &:hover {
    background: transparentize(black, 0.9);
  }

  &:after {
    @extend .icon;
    content: "\e609";

    position: absolute;
    top: 50%;
    right: 20px;

    margin-top: -0.5em;
    font-size: 10px !important;
  }

  &.bad {
    background: hsl(0, 50%, 75%);

    &:hover {
      background: hsl(0, 50%, 65%);
    }
    &:active {
      background: hsl(0, 50%, 50%);
    }
  }

  &.good {
    background: hsl(127, 50%, 75%);

    &:hover {
      background: hsl(127, 50%, 65%);
    }
    &:active {
      background: hsl(127, 50%, 50%);
    }
  }
}

.disabled {
  &:hover, & { background: transparentize(black, 0.95); }
  &:after { display: none; }

  padding-right: 1.25em;
  text-align: center;
  opacity: 0.5;
}
