table {
  width: 100%;

  text-align: left;

  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid $wa-light;
}

td {
  overflow: hidden;

  padding: 12px 0;

  border-top: 1px solid $wa-light;

  tr:last-child & {
    border-bottom: 1px solid $wa-light;
  }
}

th {
  padding: 12px 0;

  font-size: 0.75em;
  line-height: 1.5em;
  text-transform: uppercase;
}