.banner {
  overflow: hidden;

  text-align: center;

  background: $green;
  color: rgba(0, 0, 0, 0.75);

  h1 {
    font-size: 3em;
    line-height: 1.25em;
  }

  span { color: #ffffff; }

  .button {
    margin: 0 auto;
    max-width: 24em;
  }

  .container {
    max-width: 40em;
  }

  .pair-logo {
    margin: 24px auto;

    height: 96px;
    width: 96px;

    background-color: #446a56;
    background-image: url('pair-logo-white-96x128.png');
    background-position: 31px 20px;
    background-repeat: no-repeat;
    background-size: 42px 56px;
    border-radius: 50%;
  }
}