/*
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sessions {
  td {
    vertical-align: middle !important;
  }

  .unavailable {
    img { opacity: 0.2 }
    color: #ccc;
  }
}
