<!DOCTYPE html>
<html>
<head>
  <title>Pair</title>
  <%= stylesheet_link_tag *%w[
    //netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css
    application
  ] %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
